<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/style.css" />
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon" />
    <title>SwedBank Form</title>
  </head>
  <body>
    <main id="app">
      <header>
        <img class="logo" src="assets/swedbank-logo.svg" alt="" />
      </header>
      <div class="text-center" v-show="!showResults">
        <p>Welcome to SwedBank.</p>
        <p>
          Please complete the form below so that we can find the best solution
          for you. All fields are required
        </p>
        <button class="btn-primary" @click="showForm = true" v-show="!showForm">
          Go to form
        </button>

        <form
          action="#"
          method="post"
          style="margin-top: 3rem"
          v-show="showForm"
        >
          <div class="form-wrapper">
            <span class="form-field" v-if="fieldIndex === 0">
              <label for="status">Employment Status</label>
              <select name="status" id="status" v-model="form.status">
                <option value=""></option>
                <option value="employed">Employed</option>
                <option value="business-owner/self-employed">Business Owner/Self-Employed</option>
              </select>
            </span>
            <span class="form-field" v-if="fieldIndex === 1">
              <div class="status" v-show="status.employed">
                <label for="noe">Name of Employer</label>
                <input
                  type="text"
                  name="noe"
                  id="noe"
                  v-model="form.employer"
                  required
                />
                <small
                  v-show="errorMessages.employer && form.employer.length === 0"
                  >Please enter Name of Employer</small
                >
              </div>
              <div class="status" v-show="status.self">
                <label for="nob">Name of Business</label>
                <input
                  type="text"
                  name="nob"
                  id="nob"
                  v-model="form.employer"
                  required
                />
                <small
                  v-show="errorMessages.employer && form.employer.length === 0"
                  >Please enter Name of Business</small
                >
              </div>
            </span>
            <span class="form-field" v-if="fieldIndex === 2">
              <label for="dob">Date of Birth</label>
              <input type="date" name="dob" id="dob" v-model="form.dob" required />
              <small v-show="errorMessages.dob && form.dob.length === 0"
                >Please select your Date of Birth</small
              >
            </span>
            <span class="form-field" v-if="fieldIndex === 3">
              <label for="reason">Reason for Loan</label>
              <select name="reason" id="reason" v-model="form.reason">
                <option value="rent">Rent</option>
                <option value="land-purchase">Land Purchase</option>
                <option value="home-purchase">Home Purchase</option>
              </select>
              <small v-show="errorMessages.reason && form.reason.length === 0"
                >Please select a Reason for Loan</small
              >
            </span>
            <span class="form-field" v-if="fieldIndex === 4">
              <label for="amount">Loan Amount</label>
              <input
                type="number"
                name="amount"
                id="amount"
                v-model="form.amount"
                required
              />
              <small v-show="errorMessages.amount && form.amount.length === 0"
                >Please enter an amount</small
              >
            </span>
            <span class="form-field" v-if="fieldIndex === 5">
              <label for="duration">Loan Duration</label>
              <input
                type="range"
                name="duration"
                id="duration"
                value="0"
                min="0"
                max="24"
                @input="getDuration"
                v-model="form.duration"
                required
              />
              <span class="months">
                {{ form.duration.length === 0 ? 0 : form.duration }}
                {{ form.duration == 1 ? 'month' : 'months' }}
              </span>
              <small
                v-show="errorMessages.duration && form.duration === 0"
                >Please select a duration</small
              >
              <span class="text-end">
                <button
                  type="submit"
                  class="btn-primary w-fit-content"
                  @click.prevent="submit"
                >
                  Submit
                </button>
              </span>
            </span>
          </div>
        </form>
        <div class="text-left controls" v-show="showForm">
          <button
            class="btn-primary"
            @click="prev"
            :disabled="disabledPrev || fieldIndex === 0"
          >
            Previous
          </button>
          <button
            class="btn-primary"
            @click="next"
            :disabled="disabledNext || fieldIndex === 5"
          >
            Next
          </button>
        </div>
      </div>
      <div class="text-center" v-show="showResults">
        <h2>Form Result</h2>
        <p style="margin-bottom: 4rem;">Thank you for your application. These are your results. Our representative would get back to you soon. Cheers!</p>
        <div class="d-flex results" >
          <ul>
            <li>Employment Status</li>
            <li v-if="status.employed">Name of Employer</li>
            <li v-if="status.self">Name of Business</li>
            <li>Date of Birth</li>
            <li>Reason for Loan</li>
            <li>Loan Amount</li>
            <li>Loan Duration (in months)</li>
          </ul>
          <ul style="margin-left: 2rem;">
            <li v-for="result in results">
              {{ result }}
            </li>
          </ul> 
        </div>
        <a class="btn-primary" href="index.html" style="text-decoration: none;">
          Go Home
        </a>
      </div>
    </main>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="./assets/script.js"></script>
  </body>
</html>
