* {
  font-family: 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  color: #512b2b;
}

body {
  padding: 1rem;
  background-color: #fbf2ea;
}

form,
.form-wrapper > span,
.status {
  display: flex;
  flex-direction: column;
  text-align: left;
}

select,
input {
  margin: 1rem 0;
  margin-top: 0.5rem;
  padding: 0.75rem 0.25rem;
  border: 0.5px solid #257886;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}

select {
  background: #ebf8f2;
}

input {
  padding-left: 0.5rem;
}

small {
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
  color: #f51414;
}

ul {
  padding-left: 0;
  margin: -1rem;
  font-size: 25px;
  text-align: left;
}

li {
  list-style: none;
  padding: 0.5rem;
}

.logo {
  width: 50%;
  margin: auto;
  display: block;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-left {
  text-align: left;
}

.btn-primary {
  background: #fa7f25;
  border: 1px solid #ee7023;
  border-radius: 5px;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  background: #ee7023;
}

.btn-primary:disabled {
  background: #ee7023;
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary:active {
  background: #e96d21;
}

.w-fit-content {
  width: fit-content;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.results {
  justify-content: center;
  margin-bottom: 4.5rem !important;
}

.months {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 19px;
  font-weight: 500;
}

@media screen and (min-width: 991px) {
  form,
  .controls {
    width: 38%;
    margin: auto;
  }

  .results {
    width: 48%;
    margin: auto;
  }

  .logo {
    width: 20%;
  }
}
