* {
  font-family: 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  color: #512b2b;
}

body {
  padding: 1rem;
}

form, .form-wrapper > span, .status{
  display: flex;
  flex-direction: column;
  text-align: left;
}

select, input {
  margin: 1rem 0;
  margin-top: 0.5rem;
  padding: 0.75rem 0.25rem;
  border: 0.5px solid #257886;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}

select {
  background: #EBF8F2;
}

input {
  padding-left: 0.5rem;
}

small {
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
  color: #f51414;
}

.logo {
  width: 50%;
  margin: auto;
  display: block;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-left {
  text-align: left;
}

.btn-primary {
  background: #fa7f25;
  border: 1px solid #EE7023;
  border-radius: 5px;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  background: #EE7023;
}

.btn-primary:disabled {
  background: #EE7023;
  opacity: 0.6;
  cursor: not-allowed;
}

 .btn-primary:active{
  background: #e96d21;
}

.w-fit-content {
  width: fit-content;
}

.d-none {
  display: none !important;
}

@media screen and (min-width: 991px) {
  form, .controls {
    width: 38%;
    margin: auto;
  }

 .logo {
   width: 20%;
 }
}